$main-color: #212121;
$dark-main-color: #171717;
$light-main-color: #303030;
$text-color: #ffffff;
$dark-text-color: #cccccc;

$blue-color: #617E9B;
$green-color: #226541;
$gray-color: #D9D9D9;
$black-color: #000000;
$red-color: #9B6161;
$purple-color: #AFABD7;

$elem-height: 55px;
$small-elem-height: 38px;
$sidebar-max-width: 340px;
$hide-sidebar-width: 800px;

$elem-padding: 0 16px;
$gap: 16px;
$small-gap: 10px;

$border-radius: 10px;

$transition: 0.3s;
$fast-transition: 0.1s;
$hover-opacity: 0.8;
$blur: 3px;

$pop-up-z-index: 6;
$pop-up-blur-z-index: 5;
$sidebar-z-index: 4;
$sidebar-blur-z-index: 3;
$avatar-z-index: 2;
$modal-z-index: 1;